.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
}

.header {
    border-bottom: solid;
}

.usageBtns {
    align-self: flex-start;
    margin-left: 5%;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    border-bottom: solid;
    cursor: pointer;
    margin-right: 10px;
}

.instances {
    border: solid;
    width: 90%;
    height: 60vh; 
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.instance {
    padding: 10px;
    border-bottom: 1px solid;
}

.instanceBtn {
    float: right;
}

.events {
    width: 90%;
    height: 20vh; 
    box-sizing: border-box;
    overflow-x: auto;       
    flex: 0 0 auto;      
    display: flex;
    flex-direction: row;
}

.event {
    width: 330px;
    min-width: 330px;
    height: 150px;
    border: solid 1px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

a {
    align-self: flex-start;
    margin-left: 5%;
}

.createPopup{
    position: absolute;
    z-index: 2;
    width: 500px;
    height: 230px;
    border: solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 20px 20px 5px rgba(0,0,0,.5);
    visibility: hidden;
    background: white;
}

.confirmPopup{
    position: absolute;
    z-index: 4;
    width: 280px;
    height: 90px;
    border: solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    visibility: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 20px 20px 5px rgba(0,0,0,.5);
    background: white;
}

.instanceOptionsPopup {
    position: absolute;
    z-index: 3;
    width: 600px;
    height: 350px;
    border: solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 20px 20px 5px rgba(0,0,0,.5);
    visibility: hidden;
    background: white;
}

.tabBtn{
    width: 100%;
    padding: 10px;
}

.optionsBtn{ 
    margin-top: auto;
}

.drawTab{
    width: 85%;
    height: 100%;
    border-left: 1px solid;
}

.optionsContainer{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.tabsContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
    padding-right: 10px;
}

.tabDeleteBtn{
    margin-left: 40%;
    margin-top: 20%;
}

.eventHeadContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.eventClearBtn{
    align-self: flex-end;
    margin-right: 5%;
}

.snapshot, .snapshotCreate, .gpu{
    padding: 10px;
    border-bottom: 1px solid;
}

#drawTabHeader, .gpuHead{
    padding: 5px;
}

#instanceOptionsHead{
    padding-bottom: 5px;
}

.snapInfo{
    font-size: 12px;
}

.gpuData{
    font-size: 12px;
    overflow-x: auto;
}

#drawTabDiv{
    height: 290px;
    overflow-y: auto;
}

.gpuDropdown {
    float: right;
    margin-right: 5px;
}

select {
    background-color: transparent;
    background-repeat: no-repeat;
    border: solid 1px;
    cursor: pointer;
}