.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

header {
    border-bottom: solid;
}

.usageBtns {
    align-self: flex-start;
    margin-left: 5%;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    border-bottom: solid;
    cursor: pointer;
    margin-right: 10px;
}

.instances {
    border: solid;
    width: 90%;
    height: 60vh; 
    padding: 20px;
    box-sizing: border-box;
}