.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
}

.header {
    border-bottom: solid;
}

.usageBtns {
    align-self: flex-start;
    margin-left: 5%;
}

a {
    border-bottom: solid;
    cursor: pointer;
    margin-right: 10px;
    color: black;
    text-decoration: none;
}

#terminal {
    width: 90%;
    height: 75vh; 
    border: 1px solid;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: hidden;
    white-space: pre; 
    line-height: 1.2; 
    resize: none;
}

.xterm .xterm-viewport {
    width: initial !important;
}